a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}

.favorites {
  color: #525252;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.book-card,
.book-card * {
  box-sizing: border-box;
}
.book-card {
  background: #ffffff;
  margin: 238px 64px 159px 80px;
  border-radius: 9px;
  padding: 16px;
  width: 1152px;
  height: 435px;
  position: relative;
}

_.book-cover *,
_.book-cover {
  box-sizing: border-box;
}

.book-cover {
  margin: 16px 915px 161px 16px;
  width: 221px;
  height: 258px;
  position: absolute;
  left: 16px;
  top: 16px;
  overflow: visible;
  object-fit: cover;
}

.book-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
}

.headline {
  color: #b5446e;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 421px;
  top: 16px;
}

.author {
  color: #525252;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 421px;
  top: 60px;
}

.isbn {
  color: #525252;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 421px;
  top: 82px;
}

.book-description {
  color: #525252;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 421px;
  top: 126px;
  width: 710px;
}
